.wrapper {
  .footer {
    margin-top: 60px;
    .scroll-top {
      background-color: $sub-color;
      position: fixed;
      bottom: 16px;
      right: 30px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease-in-out;
      z-index: 100;
      i {
        color: $main-color;
      }
      &.active {
        opacity: 1;
        pointer-events: auto;
        bottom: 32px;
      }
    }
    .container {
      .box-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .box {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          a {
            color: $sub-color;
          }
        }
      }
      .credit {
        text-align: center;
        margin-top: 80px;
        color: $sub-color;
      }

      &.active {
        opacity: 1;
        bottom: 30px;
        pointer-events: auto;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .wrapper {
    .footer {
      .container {
        .box-container {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .box {
            text-align: start;
            justify-content: start;
          }
        }
      }
    }
  }
}
